body {
    margin: 0;
    padding: 0;

    /* display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    position: relative; */

    background: #000;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 10%;
}

.btn {
    width: 80px;
    height: 80px;
    background: #fff;
    background-image: url("ok-64.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #000;
}

.sizes {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.size-btn {
    width: 50px;
    height: 30px;
    background: #444;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-family: 'Arial Narrow Bold'
}

.size-btn.active {
    /* background: #1a9bff; */
    background: #fff;
    color: #000;
}

.ad-spot {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.in {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    /* مخفی کردن input */
    cursor: pointer;

}

.btn1 {
    display: inline-block;
    /* padding: 10px 20px; */
    /* background-color: #007bff; */
    color: white;
    text-align: center;
    pointer-events: none;

    width: 80px;
    height: 80px;
    background: #fff;
    background-image: url("48.png");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}
