* {
    margin: 40;
    padding: 0;
}

body {


    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 10vh; */
    position: relative;

    background: #000;
    font-family: sans-serif;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    font-weight: 500;
    overflow-x: hidden;
    overflow-y: auto;

    /* height: 100%; */

    /* margin-top: 20%; */
    /* margin-bottom: 10%; */
}

.all {

    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    /* background: #000000; */
    position: relative;
    /* width: 90%; */
    /* height: 20px; */
    padding: 25px;
    border-radius: 10px;

    /* margin-top: 70%;
    margin-bottom: 50%; */





    overflow-x: hidden;
    overflow-y: auto;

}


.btn {
    width: 250px;
    height: 80px;
    background: #fff;
    background-image: url("ok-64.png");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    color: #000;
    margin-top: 20%;
}

.sizes {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.size-btn {
    width: 80px;
    height: 40px;
    background: #007bff;
    color: #fff;
    border-radius: 8px;
    margin-top: 20%;
    border: none;
    cursor: pointer;
    /* font-family: 'Arial Narrow Bold'; */
    font-size: 16px;

}

.size-btn.active {
    /* background: #1a9bff; */
    background: #fff;
    color: #000;
}

.ad-spot {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}

.file-upload {
    position: relative;
    display: inline-block;
}

.in {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    /* مخفی کردن input */
    cursor: pointer;

}

.btn1 {
    display: inline-block;
    /* padding: 10px 20px; */
    /* background-color: #007bff; */
    color: white;
    text-align: center;
    pointer-events: none;

    width: 140px;
    height: 140px;
    background: #fff;
    background-image: url("48.png");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
}


.hh11 {
    color: #fff;
}